# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Кэш mypy и других линтеров
.mypy_cache/
.pytest_cache/
.cache/

# -------------------------
# Virtual environment
# -------------------------
venv/
env/
.venv/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Environments
# -------------------------
*.env
.env.*

# -------------------------
# Database 
# -------------------------
*.db
*.sqlite3
alembic.ini
alembic/

# -------------------------
# System files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# PythonAnywhere
# -------------------------
staticfiles/
media/

# Логи
*.log

# -------------------------
# PyCharm
# -------------------------
.idea/
